<head>
    <link rel="stylesheet" href="styles.css">
</head>
<header>
    <div class="main">
        <div class="work subMain">
            <img class="work-icon" src="images/work.png" alt="">
            <a href="/work">Work</a>
        </div>
        <div class="today subMain">
            <img class="today-icon" src="images/today icon.png" alt="">
            <a href="/today">Today</a>
        </div>
    </div>
</header>