<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@500;800&family=Outfit:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="mobile">
        <div class="heading">
            <h1>Tasks for Today</h1>
        </div>
        <div class="allTasks">
            <% for (var i = 0; i < listItems.length; i++) { %>
            <div class="item">
                <input class="checkbox" type="checkbox">
                <p class="itemP"><%= listItems[i] %></p>
            </div>
            <% } %>
            <form action="/" method="post" class="item">
                <button class="submit" type="submit" name="button"><img src="images/submit button.png" alt=""></button>
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off" >
            </form>
        </div>
    </div>
</body>
</html>